.review-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review-card { background: white;
    color: #c93779; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 15px; 
    width: 800px;
    position: relative;
    border-left: 5px solid #c93779; box-shadow: 0 2px 4px #c93779; 
    min-height: 150px;            
    }
.card-name { 
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold; 
    font-size: 18px; 
    display: block; }
.card-rating{
    font-weight: bold; 
    font-size: 20px; 
    display: block;
    color: rgb(255, 217, 0);
}    
.card-comment { 
    font-style: italic; 
    color: #c93779; 
    margin-top: 10px; 
    border-top: 1px solid #c93779; 
    padding-top: 10px; }
.btn-delete { position: absolute; 
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
    color: #e74c3c; 
    border: none; 
    background: none; 
}
.date{position: absolute;
    color: black; 
    top: 10px; 
    left: 10px; 
    font-size: 14px;
    cursor: pointer;  
    border: none; 
    background: none;
}